@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 430px;
  height: fit-content;
  row-gap: 20px;

  button {
    @include button;
  }
}

.input {
  @include inputText;
  width: 100%;
  height: 50px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $border;
  transition: all 0.3s ease;

  &::placeholder {
    color: $placeholders;
    @include inputText;
  }

  &:focus {
    border: 1px solid $borderFocus;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid $borderFocus;
    }
  }
}

.data-label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

.date {
  display: grid;
  grid-template-columns: 80px 80px 180px;
  gap: 20px;
}

@media (max-width: 1280px) {
  .container {
    width: 450px;
    row-gap: 15px;
  }

  .date {
    grid-template-columns: 80px 80px auto;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .date {
    grid-template-columns: 70px 70px auto;
  }
}

@media (max-width: 380px) {
  .date {
    grid-template-columns: 55px 55px auto;
  }
}
