@import 'normalize';
@import 'mixins';

#root {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35vw;
    background: $gradient;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5vw;
    background: $gradient;
    z-index: -1;
  }

  img,
  button {
    user-select: none;
  }
}

a {
  text-decoration: none;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  appearance: none;
}
