@import 'variables';

@mixin input-container() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100px;

  input {
    margin: 5px 0 5px;
  }
}

@mixin error() {
  color: $red;
  font-size: 11px;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: 0;

  &::first-letter {
    text-transform: uppercase;
  }
}

@mixin input-error {
  border: 1px solid $red;
}

@mixin card-display($background, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: column;
  align-items: $alignItems;
  justify-content: $justifyContent;
  width: 445px;
  height: 240px;
  background: $background center center;
  background-size: cover;
  color: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 2.5rem 2.5rem 1.9rem #5656611c;
  transition: all 0.3s ease;

  @media (hover: hover) {
    &:hover {
      rotate: -2deg;
      scale: 1.02;
    }
  }

  @media (max-width: 1280px) {
    scale: 85%;
  }

  @media (max-width: 1050px) {
    scale: 75%;
  }

  @media (max-width: 480px) {
    height: 270px;
    width: 120%;
    scale: 55%;
  }

  @media (max-width: 380px) {
    scale: 45%;
  }
}

@mixin inputText {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 17px;
  font-weight: 400;

  @media (max-width: 480px) {
    font-size: 13px;
  }
}

@mixin label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
}

@mixin button {
  font-size: 15px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background: $darkPurple;
  margin: -10px 0 0;
  transition: all 0.3s ease;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background: $hover;
      transition: all 0.3s ease;
    }
  }

  &:active {
    background: $active;
  }

  &:disabled {
    cursor: default;
    background: $disable;
  }
}
