$red: hsl(0, 100%, 66%);
$border: #E0E0E0;
$borderFocus: #665B9F;
$placeholders: #CACACC;
$darkPurple: #220930;
$gradient: linear-gradient(41deg, rgb(14, 22, 92) 0%, rgb(69, 5, 104) 53%);
$hover: #6B31C1;
$active: #5929A1;
$disable: #C2C2C2;