$red: hsl(0, 100%, 66%);
$border: #e0e0e0;
$borderFocus: #665b9f;
$placeholders: #cacacc;
$darkPurple: #220930;
$gradient: linear-gradient(41deg, rgb(14, 22, 92) 0%, rgb(69, 5, 104) 53%);
$hover: #6b31c1;
$active: #5929a1;
$disable: #c2c2c2;
$gray: #ececef;
