.container {
  display: flex;
  column-gap: 120px;
}

.card-display {
  display: flex;
  flex-direction: column;
  width: 540px;

  > :first-child {
      align-self: flex-start;
    }
  
  > :last-child {
    align-self: flex-end;
  }
}