.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0 auto;
  column-gap: 120px;
}

.card-display {
  display: flex;
  flex-direction: column;
  width: 540px;
  user-select: none;

  > :first-child {
      align-self: flex-start;
    }
  
  > :last-child {
    align-self: flex-end;
  }
}